/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/

.text-title {
  font-size: 50px;
}

.text-title2 {
  font-size: 50px;
}

.text-title3 {
  font-size: 40px;
  line-height: 40px;
}

.border2 {
  border: solid;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
}

.premium {
  background-color: #faebd7;
}

.premium2 {
  color: #6bb120;
}

.snow {
  color: #8b2323;
}

.coal {
  color: black;
}

.gold {
  color: #D4AF37;
}

.bigger {
  padding: 15px 50px;
  font-size: 17px;
  line-height: 1.4666666667;
  border-radius: 6px;
  margin: 5px 0;
}

.class2 {
  background: rgba(255, 0, 0, 0.5);
}

.center2 {
  text-align: center;
}

.paddy {
  padding: 5px;
  font-size: 50px;
}

.paddy2 {
  padding-bottom: 20px;
}

.ry {
  color: #005eff;
}

.aff {
  border-color: #faebd7;
  background-color: #faebd7;
  color: #ffffff;
  border-radius: 35px;
  margin-left: 55px;
}
.bigg {
  font-size: 17px;
}
